<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Register Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <form action="/register/student" method="POST">
                    
                    <h2 class="text-center">Student Registration</h2>
                    <div class="mb-2">
                        <label for="name" class="form-label">Name *</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Password *</label>
                        <input type="password" class="form-control" id="password" name="pwd" required>
                    </div>
                    <div class="mb-2">
                        <label for="mobile_no" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="mobile_no" name="phone" required>
                    </div>
                    <div class="mb-2">
                        <label for="rollno" class="form-label">Roll No.</label>
                        <input type="text" class="form-control" id="rollno" name="rollno" required>
                    </div>
                    <div class="mb-2">
                        <label for="dept" class="form-label">Department</label>
                        <input type="text" class="form-control" id="dept" name="dept" required>
                    </div>
                    <div class="mb-2">
                        <label for="year" class="form-label">Year of Study</label>
                        <select class="form-select" id="year" name="year" required>
                            <option value="">Select</option>
                            <option value="1">1st Year</option>
                            <option value="2">2nd Year</option>
                            <option value="3">3rd Year</option>
                            <option value="4">4th Year</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label for="cgpa" class="form-label">CGPA</label>
                        <input type="number" class="form-control" step="0.01" min="0" max="10" id="cgpa" name="cgpa" required>
                    </div>
                    <div class="mb-2">
                        <label for="skills" class="form-label">Skills</label>
                        <input type="text" class="form-control" id="skills" name="skills" required>
                    </div>
                    <div class="mb-2">
                        <label for="resume" class="form-label">Resume</label>
                        <input type="url" placeholder="https://drive.google.com/..." type="text" class="form-control" id="resume" name="resume" required>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary text-center" value="Register">
                        <br>
                        Already have an account?
                        <a href="/login">login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>